@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans&family=Oswald&family=Roboto+Flex:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Saira+Semi+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
:root {
  --about-me-clr: #21e0a3;
  --skills-clr: #f4b924;
  --work-clr: #f72f5a;
  --contact-me-clr: #9f4eeb;
  --nab-bar-bg-color: #00000054;
  --background: url(../assets/bg-dark-4.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira Semi Condensed", sans-serif;
  text-decoration: none;
}

.medium-zoom-overlay {
  z-index: 999;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: none !important;
}

.medium-zoom-image--opened {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

#mySelect {
  position: fixed;
  display: inline-block;
  z-index: 50;
  left: 0px;
  top: 0px;
  background-color: #202020;
  color: white;
  padding: 16px;
  height: 69px;
  font-size: 16px;
  border: none;
}
#mySelect option {
  background-color: #242424;
}
#mySelect option:focus {
  background-color: #fd0000;
}

.reset-button {
  width: 35px;
  background-color: #f1f1f1;
  cursor: pointer;
  transform: translateY(-1px);
  font-size: 13px;
}

.color-button {
  background-image: none;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.5490196078);
  color: #f1f1f1;
  border: 1px solid #fff;
  border-radius: 10%;
  width: 45px;
  height: 45px;
  padding: 0;
  position: fixed;
  cursor: pointer;
  z-index: 110;
  top: 12px;
  right: 20px;
  transition: ease-in-out 0.5s;
}
.color-button.open {
  transform: translateX(-200px) rotateY(0deg);
}

.color-pickers {
  font-size: 55px;
  background-color: #070a1c;
  border-right: 2px solid #fffffe;
  padding: 20px;
  z-index: 100;
  width: 200px;
  height: 69px;
  right: -200px;
  position: fixed;
  transition: ease-in-out 0.5s;
  display: flex;
  justify-content: space-between;
}
.color-pickers #about-me-clr {
  background-color: var(--about-me-clr);
}
.color-pickers #skills-clr {
  background-color: var(--skills-clr);
}
.color-pickers #work-clr {
  background-color: var(--work-clr);
}
.color-pickers #contact-me-clr {
  background-color: var(--contact-me-clr);
}
.color-pickers.open {
  transform: translateX(-200px);
  transition: ease-in-out 0.5s;
}

.link {
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 25px white !important;
}
.link:hover {
  text-decoration: underline;
  text-shadow: 0 0 25px, 0 0 10px rgba(255, 255, 255, 0.622) !important;
}

::-moz-selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.scroll-effect {
  opacity: 1 !important;
}

html {
  overflow: hidden;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

body {
  background-image: var(--background);
  background-size: cover !important;
  background-color: black !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overscroll-behavior: none;
}

h1 {
  font-size: 3.5em;
  text-align: center;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.1em;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.animate__animated {
  animation-duration: 0.7s !important;
  transition: ease-in-out;
  animation-fill-mode: none !important;
}

.about-me-nav a::before {
  z-index: 600;
  content: attr(data-text);
  position: absolute;
  color: var(--about-me-clr);
  width: 0%;
  overflow: hidden;
  transition: 0.6s;
  border-right: 8px solid var(--about-me-clr);
  -webkit-text-stroke: 1px var(--about-me-clr);
}
.about-me-nav a:hover::before {
  content: attr(data-text);
  width: 100%;
  -webkit-text-stroke: 1px var(--about-me-clr);
  filter: drop-shadow(0px 0px 15px var(--about-me-clr));
  text-shadow: 0 0 20px var(--about-me-clr);
}

.my-skills-nav a::before {
  z-index: 600;
  content: attr(data-text);
  position: absolute;
  color: var(--skills-clr);
  width: 0%;
  overflow: hidden;
  transition: 0.6s;
  border-right: 8px solid var(--skills-clr);
  -webkit-text-stroke: 1px var(--skills-clr);
}
.my-skills-nav a:hover::before {
  content: attr(data-text);
  width: 100%;
  -webkit-text-stroke: 1px var(--skills-clr);
  filter: drop-shadow(0px 0px 15px var(--skills-clr));
  text-shadow: 0 0 20px var(--skills-clr);
}

.my-work-nav a::before {
  z-index: 600;
  content: attr(data-text);
  position: absolute;
  color: var(--work-clr);
  width: 0%;
  overflow: hidden;
  transition: 0.6s;
  border-right: 8px solid var(--work-clr);
  -webkit-text-stroke: 1px var(--work-clr);
}
.my-work-nav a:hover::before {
  content: attr(data-text);
  width: 100%;
  -webkit-text-stroke: 1px var(--work-clr);
  filter: drop-shadow(0px 0px 15px var(--work-clr));
  text-shadow: 0 0 20px var(--work-clr);
}

.contact-me-nav a::before {
  z-index: 600;
  content: attr(data-text);
  position: absolute;
  color: var(--contact-me-clr);
  width: 0%;
  overflow: hidden;
  transition: 0.6s;
  border-right: 8px solid var(--contact-me-clr);
  -webkit-text-stroke: 1px var(--contact-me-clr);
}
.contact-me-nav a:hover::before {
  content: attr(data-text);
  width: 100%;
  -webkit-text-stroke: 1px var(--contact-me-clr);
  filter: drop-shadow(0px 0px 15px var(--contact-me-clr));
  text-shadow: 0 0 20px var(--contact-me-clr);
}

.sign {
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 2;
  text-align: center;
  font-size: 4em;
  color: #ffffff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem var(--about-me-clr), -0.2rem 0.1rem 1rem var(--about-me-clr), 0.2rem 0.1rem 1rem var(--about-me-clr), 0 -0.5rem 2rem var(--about-me-clr), 0 0.5rem 3rem var(--about-me-clr);
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%, 22%, 36%, 75% {
    color: #ffffff;
    text-shadow: 0 0 0.6rem #ffffff, 0 0 1.5rem var(--about-me-clr), -0.2rem 0.1rem 1rem var(--about-me-clr), 0.2rem 0.1rem 1rem var(--about-me-clr), 0 -0.5rem 2rem var(--about-me-clr), 0 0.5rem 3rem var(--about-me-clr);
  }
  28%, 33% {
    color: var(--about-me-clr);
    text-shadow: none;
  }
  82%, 97% {
    color: var(--about-me-clr);
    text-shadow: none;
  }
}
.flicker {
  animation: shine 2s forwards, blink 8s 2s infinite;
  font-family: "Shadows Into Light", cursive;
}

.flicker-1 {
  animation: shine 1s forwards, blink 6s 4s infinite;
  font-family: "Shadows Into Light", cursive;
}

.flicker-2 {
  animation: shine 0.1s forwards, blink 15.1s 0.5s infinite;
  font-family: "Shadows Into Light", cursive;
}

.fast-flicker {
  animation: shine 1s forwards, blink 10s 1s infinite;
  font-family: "Shadows Into Light", cursive;
}

@keyframes shine {
  0% {
    color: var(--about-me-clr);
    text-shadow: none;
  }
  100% {
    color: rgba(255, 255, 255, 0.6274509804);
    text-shadow: 0 0 0.6rem rgba(255, 255, 255, 0.7960784314), 0 0 1.5rem var(--about-me-clr), -0.2rem 0.1rem 1rem var(--about-me-clr), 0.2rem 0.1rem 1rem var(--about-me-clr), 0 -0.5rem 2rem var(--about-me-clr), 0 0.5rem 3rem var(--about-me-clr);
  }
}
@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}
.main .section {
  scroll-snap-align: start;
  height: 100vh;
  overflow: auto;
}
.main .section .links-container {
  display: flex;
  justify-content: center;
}
.main .section .links-container a {
  padding: 5px 5px 0;
}
.main .section h1 {
  letter-spacing: 1px;
  color: var(--clr);
  text-shadow: 0 0 25px var(--clr);
}

#about-me .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
#about-me .main-container .first-container {
  display: flex;
  align-items: center;
  margin-top: 65px;
}
#about-me .logo-link {
  width: 40px;
}
#about-me .logo-link:hover {
  transform: scale(1.1);
}
#about-me h2 {
  text-align: center;
  text-shadow: 0 0 25px var(--about-me-clr);
}
#about-me .me {
  opacity: 1;
  margin-left: 20px;
  width: 50%;
}
#about-me .me h3 {
  color: var(--about-me-clr);
  text-shadow: 0 0 25px var(--about-me-clr);
  text-align: center;
}
#about-me h2 {
  color: var(--about-me-clr);
}
#about-me .about-me-container {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#about-me .about-me-container .edu-info {
  margin: 10px 10px 0 10px;
}
#about-me .about-me-container .edu h2, #about-me .about-me-container .edu h3, #about-me .about-me-container .edu h4, #about-me .about-me-container .edu h5, #about-me .about-me-container .edu h6, #about-me .about-me-container .edu p {
  color: var(--about-me-clr);
}
#about-me .about-me-container .edu h2 {
  font-size: 1.5em;
  text-align: left;
  line-height: 1;
}
#about-me .about-me-container .edu h4 {
  text-align: left;
  font-size: 1em;
  color: white;
}
#about-me .about-me-container .info {
  padding: 25px;
}
#about-me .about-me-container .info h2 {
  color: var(--about-me-clr);
  text-shadow: 0 0 25px var(--about-me-clr);
  padding-bottom: 5px;
}
#about-me .about-me-container .info h3, #about-me .about-me-container .info h4, #about-me .about-me-container .info h5 {
  color: var(--about-me-clr);
  text-shadow: 0 0 25px var(--about-me-clr);
}
#about-me .about-me-container .img {
  width: 120px;
}
#about-me .about-me-card {
  width: 550px;
  opacity: 1;
  border: var(--about-me-clr) solid 2px;
  margin: 20px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: flex;
  flex-direction: row;
}
#about-me .about-me-card:hover {
  animation: shadow-pulse-about-me 2s infinite ease-in-out;
}
@keyframes shadow-pulse-about-me {
  0% {
    box-shadow: 0px 0px 22px 4px var(--about-me-clr);
  }
  10% {
    box-shadow: 0px 0px 25px 4px var(--about-me-clr);
  }
  25% {
    box-shadow: 0px 0px 28px 4px var(--about-me-clr);
  }
  35% {
    box-shadow: 0px 0px 31px 4px var(--about-me-clr);
  }
  50% {
    box-shadow: 0px 0px 34px 4px var(--about-me-clr);
  }
  65% {
    box-shadow: 0px 0px 31px 4px var(--about-me-clr);
  }
  75% {
    box-shadow: 0px 0px 28px 4px var(--about-me-clr);
  }
  85% {
    box-shadow: 0px 0px 25px 4px var(--about-me-clr);
  }
  100% {
    box-shadow: 0px 0px 22px 4px var(--about-me-clr);
  }
}
#about-me .about-me-card .about-me-card-light {
  box-shadow: 8px 8px 20px 1px var(--about-me-clr);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
}

#skills {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
}
#skills .skills-container .skill {
  width: 48%;
  margin: 20px 0 0 0;
}
#skills .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  border: var(--skills-clr) solid 2px;
  padding: 0 40px 50px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  opacity: 1;
}
#skills .skill-name {
  font-size: 18px;
  font-weight: 700;
  color: #f1f1f1;
  text-shadow: 0 0 25px white;
  text-transform: uppercase;
  margin: 20px 0;
}
#skills .skill-bar {
  height: 14px;
  background: #282828;
  border-radius: 3px;
}
#skills .skill-per {
  height: 14px;
  background: var(--skills-clr);
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
  box-shadow: 0px 0px 12px 3px var(--skills-clr);
}
#skills .skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -7px;
  right: -27px;
  transform: translateX(50%);
  z-index: 2;
}
#skills .skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: 1px;
  right: -11px;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}
@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#work {
  display: flex;
  align-items: center;
  justify-content: center;
}
#work .card.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#work .slide-container {
  opacity: 1;
  width: 100%;
}
#work .slide-content {
  margin: 40px;
  padding: 26px 23px 26px 5px;
  overflow: hidden;
}

#contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-me .contact-me-card {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  width: clamp(200px, 95%, 500px);
  opacity: 1;
  border: var(--contact-me-clr) solid 2px;
  margin: 20px;
  padding: 20px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: flex;
  flex-direction: row;
}
#contact-me .contact-me-card .contact-me-card-light {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 8px 8px 20px 1px var(--contact-me-clr);
  z-index: -5;
}
#contact-me .contact-me-card h2, #contact-me .contact-me-card h3, #contact-me .contact-me-card h4, #contact-me .contact-me-card h5, #contact-me .contact-me-card h6, #contact-me .contact-me-card p, #contact-me .contact-me-card a {
  text-align: center;
  color: var(--about-me-clr);
}
#contact-me .contact-me-card .link {
  margin: 10px;
}
#contact-me .contact-me-card h3 {
  width: 100%;
  font-size: 1em;
  line-height: 1;
}
#contact-me .contact-me-card .links-container a:hover {
  scale: 1.1;
}
#contact-me .contact-me-card a {
  text-align: left;
  font-size: 1em;
  color: white;
}
#contact-me .contact-me-card a:hover {
  text-decoration: underline;
  text-shadow: 0 0 25px, 0 0 10px rgba(255, 255, 255, 0.622) !important;
}

.card {
  border: var(--work-clr) solid 2px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
.card:hover {
  animation: shadow-pulse-work 2s infinite ease-in-out;
}
@keyframes shadow-pulse-work {
  0% {
    box-shadow: 0px 0px 22px 1px var(--work-clr);
  }
  10% {
    box-shadow: 0px 0px 25px 1px var(--work-clr);
  }
  25% {
    box-shadow: 0px 0px 28px 1px var(--work-clr);
  }
  35% {
    box-shadow: 0px 0px 31px 1px var(--work-clr);
  }
  50% {
    box-shadow: 0px 0px 34px 1px var(--work-clr);
  }
  65% {
    box-shadow: 0px 0px 31px 1px var(--work-clr);
  }
  75% {
    box-shadow: 0px 0px 28px 1px var(--work-clr);
  }
  85% {
    box-shadow: 0px 0px 25px 1px var(--work-clr);
  }
  100% {
    box-shadow: 0px 0px 22px 1px var(--work-clr);
  }
}
.card .swiper-wrapper-light {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 7px 7px 15px 0px var(--work-clr);
  z-index: -5;
}

.image-content,
.card-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 18px;
  overflow: auto;
  /* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
  /** {
    scrollbar-width: thin;
    scrollbar-color: #397524 #DFE9EB;
  }*/
  /* Chrome, Edge and Safari */
}
.image-content::-webkit-scrollbar,
.card-content::-webkit-scrollbar {
  height: 2px;
  width: 3px;
}
.image-content::-webkit-scrollbar-track,
.card-content::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #DFE9EB;
  width: 2px;
}
.image-content::-webkit-scrollbar-track:hover,
.card-content::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}
.image-content::-webkit-scrollbar-track:active,
.card-content::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}
.image-content::-webkit-scrollbar-thumb,
.card-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--work-clr);
}
.image-content::-webkit-scrollbar-thumb:hover,
.card-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--work-clr);
}
.image-content::-webkit-scrollbar-thumb:active,
.card-content::-webkit-scrollbar-thumb:active {
  background-color: var(--work-clr);
}
.image-content h2,
.card-content h2 {
  color: var(--work-clr);
  text-shadow: 0 0 25px var(--work-clr);
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.2;
}
.image-content .tech-used,
.card-content .tech-used {
  position: relative;
  margin-right: 5px;
  display: flex;
  justify-content: center;
}
.image-content .tech-used img,
.card-content .tech-used img {
  width: 40px;
  height: 40px;
}
.image-content .tech-used .tech-dec,
.card-content .tech-used .tech-dec {
  text-shadow: 0 0 20px var(--work-clr);
  position: absolute;
  top: 100%;
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #070a1c;
  box-shadow: var(--work-clr) 0px 0px 10px;
  border-radius: 8%;
  font-size: 1em;
  font-weight: 900;
  color: var(--work-clr);
  transform: translateZ(100px) scaleY(0);
  padding: 10px;
  transform-origin: top;
  transition: transform 0.1s ease-in-out;
  z-index: 999;
}
.image-content .tech-used:hover .tech-dec,
.card-content .tech-used:hover .tech-dec {
  transform: translateZ(175px) scaleY(1);
}
.image-content .description,
.card-content .description {
  flex-grow: 1;
  color: var(--work-clr);
  font-size: 1.2em;
  text-align: start;
  font-weight: 600;
}
.image-content .card-links,
.card-content .card-links {
  padding: 15px 0;
}
.image-content .tech-flex,
.card-content .tech-flex {
  display: flex;
  align-items: center;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 0;
}

.card-image {
  width: 100%;
  z-index: 999;
  align-self: center;
  position: relative;
}
.card-image .zoom {
  width: 100%;
  height: 250px;
  z-index: 999;
  padding: 0px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  opacity: 0.7;
  position: relative;
  border: none;
  font-size: 16px;
  color: white;
  padding: 6px 8px;
  background-color: var(--work-clr);
  border-radius: 2px;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover {
  opacity: 1;
  box-shadow: 0px 0px 10px -1px var(--work-clr);
  border: solid 2px var(--work-clr);
}

.swiper-navBtn {
  color: var(--work-clr);
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #ffffff;
  transform: scale(1.5);
  transition: 0.2s ease-in-out;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--work-clr);
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
  height: 60vh;
  min-height: 550px;
}

@media screen and (max-width: 800px) {
  .main .section {
    height: 100%;
    min-height: 100vh;
  }
  .slide-content {
    margin: 0;
  }
  .about-me-card-light {
    box-shadow: 7px 7px 15px -2px var(--about-me-clr) !important;
  }
  .skill-box-bg {
    box-shadow: 7px 7px 15px -2px var(--skills-clr) !important;
  }
  .contact-me-card-light {
    box-shadow: 7px 7px 15px -2px var(--contact-me-clr) !important;
  }
}
.title {
  margin: auto;
  width: 100%;
  padding: 85px 0 0 0;
}
.title h1 {
  opacity: 0;
}

.logo-link {
  width: 30px !important;
}

.sign {
  font-size: 3.2em;
}

.photo-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  opacity: 1;
}

.photo-box {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.photo-box:before, .photo-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 1px;
  transition: 1.5s;
  background-image: conic-gradient(from var(--angle), transparent, var(--about-me-clr), transparent, var(--about-me-clr), transparent);
  animation: spin 5s linear infinite;
}

.photo-box::before {
  z-index: -2;
  filter: blur(20px);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    --angle:0deg;
  }
  to {
    --angle:360deg;
  }
}
.content {
  position: absolute;
  inset: 5px;
  border: 2px solid #070a1c;
  background-size: cover;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.content a {
  position: relative;
  margin-top: 10px;
  padding: 5px 5px;
  transition: 0.5s;
}

.content {
  background-color: var(--about-me-clr);
}
.content h2 {
  position: relative;
  z-index: 2;
  font-size: 1.2em;
  text-align: center;
  color: rgb(20, 20, 20) !important;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.25em;
  text-transform: uppercase;
}
.content h2 span {
  font-weight: 300;
  font-size: 0.75em;
}
.content .personal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  z-index: 3;
  pointer-events: none;
}

.photo-box:hover .content .personal {
  opacity: 0;
}

.color-picker {
  z-index: 111;
  position: sticky;
  top: 15%;
  margin-right: 20px;
  height: 0px;
}

.nav-clr.about-me {
  box-shadow: var(--about-me-clr) 0px 5px 15px;
  background-color: var(--nab-bar-bg-color);
  border-bottom: var(--about-me-clr) solid 2px;
  position: sticky;
  height: 71px;
  top: 0%;
  z-index: 2;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.nav-clr.my-skills {
  box-shadow: var(--skills-clr) 0px 5px 15px;
  background-color: var(--nab-bar-bg-color);
  border-bottom: var(--skills-clr) solid 2px;
  position: sticky;
  height: 71px;
  top: 0%;
  z-index: 2;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.nav-clr.my-work {
  box-shadow: var(--work-clr) 0px 5px 15px;
  background-color: var(--nab-bar-bg-color);
  border-bottom: var(--work-clr) solid 2px;
  position: sticky;
  height: 71px;
  top: 0%;
  z-index: 2;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.nav-clr.contact-me {
  box-shadow: var(--contact-me-clr) 0px 5px 15px;
  background-color: var(--nab-bar-bg-color);
  border-bottom: var(--contact-me-clr) solid 2px;
  position: sticky;
  height: 71px;
  top: 0%;
  z-index: 2;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.nav {
  z-index: 111;
  position: sticky;
  top: 1%;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 70px;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  height: 60px;
  justify-content: center;
}
.nav ul li {
  position: relative;
  list-style: none;
}
.nav ul li a {
  text-transform: uppercase;
  z-index: 500;
  position: relative;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.7em;
  font-weight: 600;
}
.nav ul li a .links {
  position: absolute;
  width: 105%;
  height: 105%;
}
.nav ul li a .links.about-me {
  border: var(--about-me-clr) solid 1px;
}
.nav ul li a .links.my-skills {
  border: var(--skills-clr) solid 1px;
}
.nav ul li a .links.my-work {
  border: var(--work-clr) solid 1px;
}
.nav ul li a .links.contact-me {
  border: var(--contact-me-clr) solid 1px;
}
.nav ul li a .active {
  animation: fadeInLeft;
  animation-duration: 0.6s;
  z-index: -1;
  position: absolute;
  width: 105%;
  height: 105%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.274) 0%, rgba(255, 255, 255, 0.11) 100%);
  border: rgba(255, 255, 255, 0.108) solid 1px;
  padding: 4px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.nav ul li a .active.about-me {
  box-shadow: -10px 7px 15px -2px var(--about-me-clr);
}
.nav ul li a .active.my-skills {
  box-shadow: -10px 7px 15px -2px var(--skills-clr);
}
.nav ul li a .active.my-work {
  box-shadow: -10px 7px 15px -2px var(--work-clr);
}
.nav ul li a .active.contact-me {
  box-shadow: -10px 7px 15px -2px var(--contact-me-clr);
}
.nav img {
  width: 40px;
}

.nav-bg.about-me {
  color: var(--about-me-clr);
}
.nav-bg.my-skills {
  color: var(--skills-clr);
}
.nav-bg.my-work {
  color: var(--work-clr);
}
.nav-bg.contact-me {
  color: var(--contact-me-clr);
}

.nav ul li.about-me-nav .hovered::before {
  content: attr(data-text);
  z-index: 700;
  position: absolute;
  color: var(--about-me-clr);
  width: 100% !important;
  overflow: hidden;
  transition: 0.6s;
  border-right: 8px solid var(--about-me-clr);
  -webkit-text-stroke: 1px var(--about-me-clr);
  filter: drop-shadow(0px 0px 15px var(--about-me-clr));
  text-shadow: 0 0 20px var(--about-me-clr);
}

.nav ul li.my-skills-nav .hovered::before {
  content: attr(data-text);
  z-index: 700;
  position: absolute;
  color: var(--skills-clr);
  width: 100% !important;
  overflow: hidden;
  transition: 0.6s;
  border-right: 8px solid var(--skills-clr);
  -webkit-text-stroke: 1px var(--skills-clr);
  filter: drop-shadow(0px 0px 15px var(--skills-clr));
  text-shadow: 0 0 20px var(--skills-clr);
}

.nav ul li.my-work-nav .hovered::before {
  content: attr(data-text);
  z-index: 700;
  position: absolute;
  color: var(--work-clr);
  width: 100% !important;
  overflow: hidden;
  transition: 0.6s;
  border-right: 8px solid var(--work-clr);
  -webkit-text-stroke: 1px var(--work-clr);
  filter: drop-shadow(0px 0px 15px var(--work-clr));
  text-shadow: 0 0 20px var(--work-clr);
}

.nav ul li.contact-me-nav .hovered::before {
  content: attr(data-text);
  z-index: 700;
  position: absolute;
  color: var(--contact-me-clr);
  width: 100% !important;
  overflow: hidden;
  transition: 0.6s;
  border-right: 8px solid var(--contact-me-clr);
  -webkit-text-stroke: 1px var(--contact-me-clr);
  filter: drop-shadow(0px 0px 15px var(--contact-me-clr));
  text-shadow: 0 0 20px var(--contact-me-clr);
}

.di {
  height: 140px;
}

.medium-zoom-image {
  z-index: 999;
}

#skills {
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
}
#skills .skills-container-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  width: clamp(350px, 95%, 1200px);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
#skills .skills-container-1 .skills-box {
  margin: 5px;
  border-radius: 3%;
  background-color: #161616;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  border: var(--skills-clr) solid 2px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skills .skills-container-1 .skills-box:hover {
  animation: shadow-pulse-skills 2s infinite ease-in-out;
}
@keyframes shadow-pulse-skills {
  0% {
    box-shadow: 0px 0px 22px 4px var(--skills-clr);
  }
  10% {
    box-shadow: 0px 0px 25px 4px var(--skills-clr);
  }
  25% {
    box-shadow: 0px 0px 28px 4px var(--skills-clr);
  }
  35% {
    box-shadow: 0px 0px 31px 4px var(--skills-clr);
  }
  50% {
    box-shadow: 0px 0px 34px 4px var(--skills-clr);
  }
  65% {
    box-shadow: 0px 0px 31px 4px var(--skills-clr);
  }
  75% {
    box-shadow: 0px 0px 28px 4px var(--skills-clr);
  }
  85% {
    box-shadow: 0px 0px 25px 4px var(--skills-clr);
  }
  100% {
    box-shadow: 0px 0px 22px 4px var(--skills-clr);
  }
}
#skills .skills-container-1 .skills-box .skill-content {
  text-shadow: 0 0 20px var(--skills-clr);
  position: absolute;
  top: 70%;
  width: 180%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(7, 10, 28, 0.462745098);
  box-shadow: var(--skills-clr) 0px 0px 10px;
  border-radius: 3%;
  font-size: 1em;
  font-weight: 900;
  color: var(--skills-clr);
  transform: translateZ(100px) scaleY(0);
  padding: 10px;
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}
#skills .skills-container-1 .skills-box:hover .skill-content {
  transform: translateZ(175px) scaleY(1);
}
#skills .skills-container-1 .skills-box:hover img {
  transform: scale(1.1);
  transition: ease-in-out 0.1s;
}
#skills .skills-container-1 .skills-box a {
  z-index: 5;
  transform: translateZ(50px);
}
#skills .skills-container-1 .skills-box img {
  padding: 15px;
  z-index: 2;
  width: 150px;
  height: 150px;
  flex-grow: 1;
}
#skills .skills-container-1 .skills-box h2 {
  transform: translateZ(50px);
  text-shadow: 0 0 20px var(--skills-clr);
  font-size: 1.5em;
  margin: 10px 0;
  color: var(--skills-clr);
  z-index: 5;
}
#skills .skills-container-1 .skills-box:hover .skill-box-bg {
  box-shadow: 0px 0px 0px 0px;
}

.skill-box-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 8px 8px 20px 1px var(--skills-clr);
  background-color: #292929;
}

.vanta-canvas {
  display: block;
  position: fixed !important;
  z-index: 0;
  top: -100% !important;
  left: 0px;
  width: 1562px;
  height: 3101px;
}

@media only screen and (max-width: 1000px) {
  .sign {
    font-size: 2em;
  }
  .first-container {
    margin-top: 40px;
    flex-direction: column;
  }
  html {
    overflow: scroll !important;
    overscroll-behavior: none;
  }
  .color-button {
    display: none;
  }
  .button {
    padding: 3px 4px;
  }
  #mySelect {
    display: none;
  }
  #mySelect {
    background-repeat: no-repeat;
    width: 15px;
    height: 22px;
    padding: 0;
    position: fixed;
    cursor: pointer;
    z-index: 910;
    top: 55px;
    right: 1%;
    background-color: white;
  }
  .color-button {
    background-image: url(../assets/arrow.png) !important;
    color: transparent !important;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    padding: 0;
    position: fixed;
    cursor: pointer;
    z-index: 910;
    top: 55px;
    right: 2px;
    transition: ease-in-out 0.5s;
    transform: rotateY(180deg);
  }
  .color-button.open {
    transform: rotateY(0deg);
    transition: ease-in-out 0.5s;
  }
  .color-pickers {
    background-color: #070a1c;
    border-right: none;
    padding: 8px;
    z-index: 888;
    right: -100%;
    position: fixed;
    transition: ease-in-out 0.5s;
    width: 100%;
    justify-content: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
    height: 43px;
  }
  .color-pickers #about-me-clr {
    width: 25%;
    background-color: var(--about-me-clr);
  }
  .color-pickers #skills-clr {
    width: 25%;
    background-color: var(--skills-clr);
  }
  .color-pickers #work-clr {
    width: 25%;
    background-color: var(--work-clr);
  }
  .color-pickers #contact-me-clr {
    width: 25%;
    background-color: var(--work-clr);
  }
  .color-pickers.open {
    transform: translateX(-100%);
    transition: ease-in-out 0.5s;
  }
  .nav-clr {
    height: 50px;
  }
  .nav-clr.about-me {
    height: 45px;
  }
  .nav-clr.my-skills {
    height: 45px;
  }
  .nav-clr.my-work {
    height: 45px;
  }
  .nav-clr.contact-me {
    height: 45px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  .about-me-card,
  #about-me .me,
  .photo-container,
  #skills .skills,
  #work .slide-container {
    opacity: 1 !important;
  }
  html {
    scroll-snap-type: none;
  }
  body {
    background-size: cover !important;
    background-color: black !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
  }
  .animate__fadeInUp {
    animation: none !important;
  }
  .animate__zoomIn {
    animation: none !important;
  }
  .animate__fadeIn {
    animation: none !important;
  }
  #work .card-image .zoom {
    padding: 0px;
  }
  .nav ul {
    gap: 20px;
    position: fixed;
    top: 8px;
    justify-content: flex-start;
  }
  .nav a {
    font-size: 1em !important;
  }
  #about-me .about-me-card {
    flex-direction: column;
  }
  #about-me .main-container {
    height: 100%;
  }
  #about-me .main-container .first-container {
    margin: 0 8px;
  }
  #about-me .photo-container {
    width: 150px;
    height: 150px;
  }
  #about-me .photo-box:before {
    inset: 0px 45px !important;
  }
  #about-me .me {
    width: 85%;
    margin: 20px auto;
  }
  #about-me .about-me-container {
    flex-direction: column;
    width: 90%;
  }
  #about-me .about-me-container .img {
    width: 100%;
    align-self: flex-start;
  }
  #about-me .about-me-container .info {
    padding: 8px;
    margin: 15px;
    width: 95%;
    align-self: center;
  }
  #about-me .about-me-container .edu {
    margin: 15px;
    width: 95%;
    align-self: center;
  }
  #skills .skills-container .skill-name {
    margin: 5px 0;
  }
  #skills .skills-container .skill {
    width: 100%;
  }
  #skills .skills {
    max-width: 85%;
    padding: 0px 20px 20px;
  }
  #work .zoomIns.card.swiper-slide.swiper-slide-duplicate.swiper-slide-active {
    height: 60vh;
  }
  #work .swiper-navBtn {
    display: none;
  }
  #work .swiper-wrapper {
    height: 60vh;
  }
  #work .image-content .description, #work .card-content .description {
    font-size: 1.1em;
  }
  .skills-container-1 {
    width: 95% !important;
    -moz-column-gap: 12px !important;
         column-gap: 12px !important;
    row-gap: 12px !important;
  }
  .skills-container-1 .skills-box {
    width: 100px !important;
    height: 140px !important;
    margin: 0px !important;
  }
  .skills-container-1 .skills-box .skill-content {
    font-size: 0.5em !important;
    display: none;
  }
  .skills-container-1 .skills-box img {
    width: 100px !important;
    height: 100px !important;
    padding: 10px !important;
  }
  .skills-container-1 .skills-box h2 {
    font-size: 1em !important;
    margin: 0 !important;
  }
}/*# sourceMappingURL=style.css.map */