@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans&family=Oswald&family=Roboto+Flex:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Saira+Semi+Condensed:wght@300&display=swap");


:root {   
  --about-me-clr: #ffbf00; 
  --skills-clr: #ff0000; 
  --work-clr: #009dff; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Open Sans', sans-serif;
  font-family: "Saira Semi Condensed", sans-serif;
  text-decoration: none;
}
.reset-button{
  width: 29px;
  height: 29px;
  background-color: #f1f1f1;
  cursor: pointer;
  transform: translateY(-1px);
}
.color-button{
  background-image: url(../assets/arrow.png);
  background-size: contain;
  background-color: #00000000;
  border: 2px solid #fff;
  border-radius: 10%;
  width: 45px;
  height: 45px;
  padding: 0;
  position: fixed;
  cursor: pointer;
  z-index: 110;
  top: 12px;
  left: 20px;
  transition:  ease-in-out 0.5s;

  &.open{
  
    transform: translateX(150px) rotateY(180deg);


    // transition:ease-in-out 0.5s;
  }
}
.color-pickers{
  font-size: 55px;
  background-color: #070a1c;
  border-right:2px solid #fffffe; ;
  padding: 20px;
  z-index: 100;
  width: 150px;
  height: 70px;
  left:-150px;
  position: fixed;
  transition:ease-in-out 0.5s;
  display: flex;
  justify-content: space-between;
  #about-me-clr{
    width: 35px;
    background-color: var(--about-me-clr);
  }
  #skills-clr{
    width: 35px;
    background-color: var(--skills-clr);
  }
  #work-clr{
    width: 35px;
    background-color: var(--work-clr);
  }
 
  &.open{
    transform: translateX(150px);
    transition:ease-in-out 0.5s;
  }
}
.link {
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 25px white !important ;
  &:hover {
    text-decoration: underline ;
    text-shadow: 0 0 25px, 0 0 10px rgba(255, 255, 255, 0.622) !important ;
  }
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.scroll-effect {
  opacity: 1 !important;
 
 
}


html {
  overflow: hidden;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  // scroll-behavior: smooth;
}

body {

  background-image:  url(../assets/bg-dark-4.jpg)!important;
  background-size: cover !important;
  background-color: black !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overscroll-behavior: none;
 

 
  
}
h1 {
  font-size: 3.5em;
  // color: rgb(255, 255, 255);
  // text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.893);
  text-align: center;
}
h2 {
  font-size: 2.3em;
}
h3 {
  font-size: 1.3em;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.animate__animated {
  animation-duration: .7s !important;
  transition: ease-in-out;
  animation-fill-mode: none !important;
}
#skills,
#work,
#about-me {
  // background-image:  url(../assets/bg-dark-4.jpg) !important;
  // background-size: cover !important;
  // background-color: #232323 !important;
}
.about-me-nav{
  a{
    &::before {
      z-index: 600;
    content: attr(data-text);
    position: absolute;
    color: var(--about-me-clr);
    width: 0%;
    overflow: hidden;
    transition: 0.6s;
    
    border-right: 8px solid var(--about-me-clr);
    -webkit-text-stroke: 1px var(--about-me-clr);
    }
    &:hover::before {
      content: attr(data-text);
      width: 100%;
      -webkit-text-stroke: 1px var(--about-me-clr);
      filter: drop-shadow(0px 0px 15px var(--about-me-clr));
      text-shadow: 0 0 20px var(--about-me-clr);
      
    }
  }
}
.my-skills-nav{
  a{
    &::before {
      z-index: 600;
    content: attr(data-text);
    position: absolute;
    color: var(--skills-clr);
    width: 0%;
    overflow: hidden;
    transition: 0.6s;
    
    border-right: 8px solid var(--skills-clr);
    -webkit-text-stroke: 1px var(--skills-clr);
    }
    &:hover::before {
      content: attr(data-text);
      width: 100%;
      -webkit-text-stroke: 1px var(--skills-clr);
      filter: drop-shadow(0px 0px 15px var(--skills-clr));
      text-shadow: 0 0 20px var(--skills-clr);
      
    }
  }
}
.my-work-nav{
  a{
    &::before {
      z-index: 600;
    content: attr(data-text);
    position: absolute;
    color: var(--work-clr);
    width: 0%;
    overflow: hidden;
    transition: 0.6s;
    
    border-right: 8px solid var(--work-clr);
    -webkit-text-stroke: 1px var(--work-clr);
    }
    &:hover::before {
      content: attr(data-text);
      width: 100%;
      -webkit-text-stroke: 1px var(--work-clr);
      filter: drop-shadow(0px 0px 15px var(--work-clr));
      text-shadow: 0 0 20px var(--work-clr);
      
    }
  }
}
.main {
  .section {
    .links-container{
      a{
        padding: 5px 5px 0;

      }
      
      display: flex;
      justify-content: center;
    }
    scroll-snap-align: start;
    height: 100vh;
    h1 {
      letter-spacing: 1px;
      // color: var(--clr);
      // filter: drop-shadow(0px 0px 20px var(--clr));
      color: var(--clr);

      text-shadow: 0 0 25px var(--clr);
    }
  }
}
#about-me {
  // background-image: url(../assets/bg-dark-4.jpg);
  // background-color: #272727;
  // background-image: radial-gradient(circle at center center, transparent,rgb(0,0,0)),repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 2px,transparent 2px, transparent 10px,rgb(0,0,0) 10px, rgb(0,0,0) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgba(0,188,212, 0.5) 0px, rgba(0,188,212, 0.5) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
  // background-image: linear-gradient(90deg, rgb(33,33,33) 0%,transparent 59%),repeating-linear-gradient(45deg, rgba(0,188,212, 0.32) 0px, rgba(0,188,212, 0.32) 1px,transparent 1px, transparent 13px),repeating-linear-gradient(135deg, rgba(0,188,212, 0.32) 0px, rgba(0,188,212, 0.32) 1px,transparent 1px, transparent 13px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));

  // background-color: #202124;
  // background-size: cover;
  // background-image:  url(./assets/bg-blue.jpg);
  // background: rgb(0,176,255);
  // background: linear-gradient(0deg, rgba(0,159,255,1) 0%, rgba(0,47,199,1) 100%);
  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }
  .logo-link {
    width: 40px;
    &:hover{
     transform: scale(1.1);
    }
  }
  
  h2 {
    text-align: center;
    text-shadow: 0 0 25px var(--about-me-clr);
  }
  .me {
    opacity: 1;
    h3 {
      color: var(--about-me-clr);
      text-shadow: 0 0 25px var(--about-me-clr);
      text-align: center;
    }
  }
  h2 {
    color: var(--about-me-clr);
    // padding: 50px ;
  }
  .about-me-container {
    display: flex;
    justify-content: space-evenly;
    .edu {
      // width: 35%;
      padding: 30px;

      h2 {
        color: var(--about-me-clr);
        padding-bottom: 5px;
      }
      h3 {
        color: var(--about-me-clr);
        // text-align: center;
      }
    }

    .info {
      // width: 35%;
      padding: 25px;
      h2 {
        color: var(--about-me-clr);
        text-shadow: 0 0 25px var(--about-me-clr);
        padding-bottom: 5px;
      }
      h3 {
        color: var(--about-me-clr);
        text-shadow: 0 0 25px var(--about-me-clr);
        // text-align: center;;
      }
    }
  }


  .about-me-card {
    width: 600px;
    opacity: 1;
    // background: linear-gradient(
    //   270deg,
    //   rgba(224, 224, 224, 0.141) 10%,
    //   rgba(255, 255, 255, 0.042) 50%
    // );
    border: var(--about-me-clr) solid 2px;
    margin: 50px;
    backdrop-filter: blur(6px);
    box-shadow: 7px 7px 15px -2px var(--about-me-clr);
  }
}
#skills {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  // background-image: url(../assets/bg-dark-10.jpg);

  // background-size: cover;
  // background-color: #202124;
  position: relative;
  // background-image: url(./assets/bg-orange.jpg);
  // background: #007991;  /* fallback for old browsers */
  // background: linear-gradient(180deg, rgba(0,47,199,1) 0%, rgba(0,209,203,1) 100%);
  .skills-container{
    // display: flex;
  
    // height: 100vh;
    // align-items: center;

    .skill{
      width: 48%;
      margin: 20px 0 0 0;
    }
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    // margin-top: 95px;
    border: var(--skills-clr) solid 2px;
    padding: 0 40px 50px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
 
    box-shadow: 7px 7px 15px -2px var(--skills-clr);
    opacity: 1;
    // position: absolute;
    // left: 20%;
    // top: 15%;
   
  }

  .skill-name {
    font-size: 18px;
    font-weight: 700;
    color: #f1f1f1;
    text-shadow: 0 0 25px white;
    text-transform: uppercase;
    margin: 20px 0;
  }

  .skill-bar {
    height: 14px;
    background: #282828;
    border-radius: 3px;
  }

  .skill-per {
    height: 14px;
    background: var(--skills-clr);
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
    box-shadow: 0px 0px 12px 3px var(--skills-clr);
  }

  .skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -7px;
    right: -27px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    z-index: 2;
  }

  .skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: 1px;
    right: -11px;
    -webkit-transform: translateX(50%) rotate(45deg);
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }

  @keyframes fillBars {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}
#work {
  // background-image: url(../assets/bg-dark-10.jpg);
  // background-size: cover;
  // background-color: #202124;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: url(./assets/bg-green.jpg);
  // background: #11998e;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .card.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .slide-container {
    opacity: 1;
    max-width: 90%;
    width: 100%;
    padding: 40px 0;
    // backdrop-filter: blur(10px);
  }
  .slide-content {
    margin:  40px;
    padding: 0 20px 22px 0;
    overflow: hidden;
    // border-radius: 25px;
    // backdrop-filter: blur(10px);
  }
}
.card {
  // border-radius: 25px;
  // background-color: #FFF;
  // background: linear-gradient(
  //   270deg,
  //   rgba(224, 224, 224, 0.141) 10%,
  //   rgba(255, 255, 255, 0.042) 50%
  // );
  border: var(--work-clr) solid 2px;
  backdrop-filter: blur(4px);
  box-shadow: 7px 7px 15px 0px var(--work-clr);
}
.image-content,
.card-content {
  h2 {
    color: var(--work-clr);
    text-shadow: 0 0 25px var(--work-clr);
  }
  .card-links {
    padding: 10px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  // position: absolute;
  // left: 0;
  // top: 0;
  // height: 100%;
  // width: 100%;
  // background-image: url(../assets/bg-dark-4.jpg);
  // border-radius: 25px 25px 0 25px;
}
// .overlay::before,
// .overlay::after{
// content: '';
// position: absolute;
// right: 0;
// bottom: -40px;
// height: 40px;
// width: 40px;
// background-color: #4070F4;
// }
// .overlay::after{
// // border-radius: 0 25px 0 0;
// background-color: #FFF;
// }
.card-image {
  z-index: 999;
  .zoom {
    width: 100%;
    // height: 250px;
    height: 25vh;
    z-index: 999;
    padding: 5px;
  }
  position: relative;
  // height: 250px;
  height: 100%;
  // width: 95%;


 
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  // border-radius: 50%;
  // border: 4px solid #4070f4;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  position: relative;
  border: none;
  font-size: 16px;
  color: white;
  padding: 6px 8px;
  background-color: var(--work-clr);
  border-radius: 2px;
  border: solid 2px #00000000;
  margin: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background: none;
    color: var(--work-clr);
    box-shadow: 3px 3px 10px -1px var(--work-clr);
    border: solid 2px var(--work-clr);
  }
}

.swiper-navBtn {
  color: var(--work-clr);
  // box-shadow: 7px 7px 10px -1px var(--work-clr);

  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #ffffff;
  transform: scale(1.5);
  transition: 0.2s ease-in-out;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--work-clr);
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
  // height: 65vh;
  height: 670px;
}
@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0;
  }
  .swiper-navBtn {
    // display: none;
  }
}

.title {
  margin: auto;
  width: 100%;
  padding: 85px 0 0 0;

  h1 {
    opacity: 0;
  }
}

.photo-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  opacity: 1
}
.photo-box {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 15px 0px var(--about-me-clr);
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.photo-box:before {
  content: "";
  position: absolute;
  inset: 0px 80px;
  transition: 0.5s;
  background: linear-gradient(315deg, var(--about-me-clr), #ffffff);
  animation: animate 3s linear infinite;
}
.photo-box:hover:before {
  inset: -20px 0px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// .photo-box:after
// {
// 	content: '';
// 	position: absolute;
// 	inset : 6px;
// 	background: #07316d;
// 	border-radius: 50%;
// 	z-index: 1;
// }
.content {
  position: absolute;
  // inset: 30px;
  inset: 5px;
  // background: #07316d;
  border: 2px solid #070a1c;
  background-size: cover;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  a {
    position: relative;
    margin-top: 10px;
    padding: 5px 5px;
    // background: #fff;
    // color: #070a1c;
    // border-radius: 25px;
    // font-weight: 500;
    // text-transform: uppercase;
    // letter-spacing: 0.05em;
    // text-decoration: none;
    transition: 0.5s;
   
    // z-index: 1;
  }
  // a:hover
  // {
  // 	letter-spacing: 0.2em;
  // }
}
.content {
  h2 {
    position: relative;
    z-index: 2;
    font-size: 1.2em;
    text-align: center;
    color: rgb(20, 20, 20) !important;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.25em;
    text-transform: uppercase;
  }
  h2 span {
    font-weight: 300;
    font-size: 0.75em;
  }
  .personal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    z-index: 3;
    pointer-events: none;
  }
}
.photo-box:hover .content .personal {
  opacity: 0;
}

.color-picker {
  z-index: 111;
  position: sticky;
  top: 15%;
  margin-left: 20px;
  height: 0px;
}

.nav-clr {
&.about-me {

  box-shadow: var(--about-me-clr) 0px 5px 15px;
  background: linear-gradient(
    270deg,
    rgba(224, 224, 224, 0.18) 10%,
    rgba(255, 255, 255, 0.15) 50%
  );
  border-bottom: var(--about-me-clr) solid 2px;
  position: sticky;
  height: 71px;
  top: 0%;
  z-index: 2;
  backdrop-filter: blur(8px);
}
&.my-skills {
  box-shadow: var(--skills-clr) 0px 5px 15px;
  background: linear-gradient(
    270deg,
    rgba(224, 224, 224, 0.18) 10%,
    rgba(255, 255, 255, 0.15) 50%
  );
  border-bottom: var(--skills-clr) solid 2px;
  position: sticky;
  height: 71px;
  top: 0%;
  z-index: 2;
  backdrop-filter: blur(8px);
}
&.my-work {
  box-shadow: var(--work-clr) 0px 5px 15px;
  background: linear-gradient(
    270deg,
    rgba(224, 224, 224, 0.18) 10%,
    rgba(255, 255, 255, 0.15) 50%
  );
  border-bottom: var(--work-clr) solid 2px;
  position: sticky;
  height: 71px;
  top: 0%;
  z-index:2;
  backdrop-filter: blur(8px);
}

}
.nav {
  // z-index: 111;
  // position: sticky;
  // top: 35%;
  // margin-left: 20px;
  // height: 0px;
  // display: flex;
  // justify-content: flex-start;
  // align-items: flex-start;

  z-index: 111;
  position: -webkit-sticky;
  position: sticky;
  top: 1.0%;

  height: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  ul {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 70px;
    // left: 3%;
    // top: 25vh;
    li {
      // margin: 50px 0 !important;
      position: relative;
      list-style: none;
      // display: block;
      // width: 50px;
      // height: 50px;
      // margin: 80px 0;
      
      a {
        
          
        
        text-transform: uppercase;
        z-index: 500;
        position: relative;
        color: white;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 1.7em;
        font-weight: 600;

        // -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
        .links {
          position: absolute;
          width: 105%;
          height: 105%;
          &.about-me {
            border: var(--about-me-clr) solid 1px;
          }
          &.my-skills {
            border: var(--skills-clr) solid 1px;
          }
          &.my-work {
            border: var(--work-clr) solid 1px;
          }
        }
        .active {
          animation: fadeInLeft;
          animation-duration: 0.6s;
          z-index: -1;
          position: absolute;
          width: 105%;
          height: 105%;
          &.about-me {
            box-shadow: -10px 7px 15px -2px var(--about-me-clr);
          }
          &.my-skills {
            box-shadow: -10px 7px 15px -2px var(--skills-clr);
          }
          &.my-work {
            box-shadow: -10px 7px 15px -2px var(--work-clr);
          }
          
          // filter: drop-shadow( 3px 3px 8px rgba(0, 0, 0, 0.47));
          background: rgb(255, 255, 255);
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.274) 0%,
            rgba(255, 255, 255, 0.11) 100%
          );
          border: rgba(255, 255, 255, 0.108) solid 1px;
          // border-radius: 5%;
          padding: 4px;
          backdrop-filter: blur(3px);
          // transform: scale(1.3);
        }
      
        // &::before {
        //   z-index: 600;
        //   content: attr(data-text);
        //   position: absolute;
        //   color: var(--clr);
        //   width: 0%;
        //   overflow: hidden;
        //   transition: 0.6s;
          
        //   border-right: 8px solid var(--clr);
        //   -webkit-text-stroke: 1px var(--clr);
        // }

        // &:hover::before {
        //   content: attr(data-text);
        //   width: 100%;
        //   -webkit-text-stroke: 1px var(--clr);
        //   filter: drop-shadow(0px 0px 15px var(--clr));
        //   text-shadow: 0 0 20px var(--clr);
          
        // }
      }
    }
  }

  img {
    width: 40px;
  }
}
.nav-bg{
  &.about-me{
    color: var(--about-me-clr);
  }
  &.my-skills{
    color: var(--skills-clr);
  }
  &.my-work{
    color: var(--work-clr);
  }
}
.nav ul li{

}
.nav ul li.about-me-nav .hovered::before {
  content: attr(data-text);
  z-index: 700;
  position: absolute;
  color: var(--about-me-clr);
  width: 100% !important;
  overflow: hidden;
  transition: 0.6s;
  border-right: 8px solid var(--about-me-clr);
  -webkit-text-stroke: 1px var(--about-me-clr);
  filter: drop-shadow(0px 0px 15px var(--about-me-clr));
  text-shadow: 0 0 20px var(--about-me-clr);
}
.nav ul li.my-skills-nav .hovered::before {
  content: attr(data-text);
  z-index: 700;
  position: absolute;
  color: var(--skills-clr);
  width: 100% !important;
  overflow: hidden;
  transition: 0.6s;
  border-right: 8px solid var(--skills-clr);
  -webkit-text-stroke: 1px var(--skills-clr);
  filter: drop-shadow(0px 0px 15px var(--skills-clr));
  text-shadow: 0 0 20px var(--skills-clr);
}
.nav ul li.my-work-nav .hovered::before {
  content: attr(data-text);
  z-index: 700;
  position: absolute;
  color: var(--work-clr);
  width: 100% !important;
  overflow: hidden;
  transition: 0.6s;
  border-right: 8px solid var(--work-clr);
  -webkit-text-stroke: 1px var(--work-clr);
  filter: drop-shadow(0px 0px 15px var(--work-clr));
  text-shadow: 0 0 20px var(--work-clr);
}
// .active{
// 	img{
// 		transition: ease-in-out 0.3s;
// 		transform: scale(2);

// 		// filter: drop-shadow( 3px 3px 8px rgba(0, 0, 0, 0.47));
// 		background-color: #ffffff16;
// 		border:rgba(255, 255, 255, 0.215) solid 1px;
// 		border-radius: 10%;
// 		padding: 4px;
// 		backdrop-filter:blur(3px);

// 	}
// }

// .tooltip-content {
// 	display: none;
//     position: absolute;
//     bottom: 25%;
//     left: 140%;
//     background-color: rgba(255, 255, 255, 0.099);
//     padding: 0.5em 0.1em;
//     font-size: 0.8em;
//     width: 150%;
//     text-align: center;
// 	border:rgba(255, 255, 255, 0.215) solid 1px;
// 	border-radius: 10%;
// 	backdrop-filter:blur(3px);
//   }

//   li:hover .tooltip-content {
// 	display: block;
// 	animation: fadeInRight;
//     animation-duration: 0.3s;

//   }

// &:hover::before
// {
// 	content: attr(data-text);
// 	width: 100%;
// 	-webkit-text-stroke: 1px var(--clr);
// 	filter: drop-shadow(0px 0px 15px var(--clr));
// 	text-shadow:   0 0 20px var(--clr) ;

// }

.di {
  height: 140px;
}

.medium-zoom-image {
  z-index: 999;
}

@media only screen and (max-width: 1000px) {
  html {
    overflow: scroll !important;
    // overflow-x: auto;
    // scroll-snap-type: none;
    // scroll-behavior: smooth;
      overscroll-behavior: none;
    
  }
  .color-button{
    // background-image: url(../assets/arrow.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    padding: 0;
    position: fixed;
    cursor: pointer;
    z-index: 910;
    top: 55px;
    left: 1%;
    transition:ease-in-out 0.5s;
    &.open{
  
      transform: rotateY(180deg);
      transition:ease-in-out 0.5s;
    }
  }
  .color-pickers{
    background-color: #070a1c;
    border-right:none ;
    padding: 8px;
    z-index: 888;
    left:-100%;
    position: fixed;
    transition:ease-in-out 0.5s;
    width: 100%;
    justify-content: center;
    column-gap: 5px;

    height: 43px;
    #about-me-clr{
      width: 25%;
      background-color: var(--about-me-clr);
    }
    #skills-clr{
      width: 25%;
      background-color: var(--skills-clr);
    }
    #work-clr{
      width: 25%;
      background-color: var(--work-clr);
    }
   
    &.open{
      transform: translateX(100%);
      transition:ease-in-out 0.5s;
    }
  }
  .nav-clr {
    height: 50px;
    &.about-me {
    

      height: 45px;

    }
    &.my-skills {

      height: 45px;

    }
    &.my-work {

      height: 45px;

    }
  }

  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 0.7em;
  }
  .about-me-card,
  #about-me .me,
  .photo-container,
  #skills .skills,
  #work .slide-container {
    opacity: 1 !important;
  }
html{  scroll-snap-type:none;
  scroll-behavior: smooth !important;
}
  body {
    // background-image: url(../assets/bg-dark-10.jpg);
    background-image:  url(../assets/bg-dark-4.jpg) !important;
    background-size: cover !important;
    background-color: black !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    padding: 0;
    margin: 0;
   
  }
  // #skills,
  // #work,
  // #about-me {
  //   background-image: url(../assets/bg-dark-10.jpg) !important;

  //   background-color: #2b2b2b !important;
  // }

  .animate__fadeInUp {
    animation: none !important;
  }
  .animate__zoomIn {
    animation: none !important;
  }
  .animate__fadeIn {
    animation: none !important;
  }
  #work .card-image .zoom {
    // height: 75%;
  }
  #work .button {
    margin: 0px;
    padding: 0px;
  }
  .nav {
    ul {
      gap: 20px;
      position: fixed;
      top: 8px;
      // top: 15px;
    }
    a {
      font-size: 1em !important;
    }
  }

  #about-me {
    
    .photo-container {
      width: 150px;
      height: 150px;
      
    }
    .photo-box {
      
      &:before {
        inset: 0px 45px !important;
      }
    }

    .me {
      width: 85%;

      margin: 20px auto;
    }
    .about-me-container .edu {
      padding: 8px;
    }
    .about-me-container {
      flex-direction: column;
      width: 90%;
      .info {
        padding: 8px;
        margin: 15px;
        width: 95%;
        align-self: center;
      }
      .edu {
        padding: 8px;
        margin: 15px;
        width: 95%;
        align-self: center;
      }
    }
  }

  #skills {
     .skills-container{
      .skill-name{
        margin: 5px 0;
      }
      .skill {
        width: 100%;
        // margin: 5px 10px;
    }
     } 
    .skills {
      max-width: 85%;
      padding: 0px 20px 20px;
    }
    .skill-per-mb {
      animation: none !important;
      height: 14px;
      background: var(--skills-clr);
      border-radius: 3px;
      position: relative;
      -webkit-animation: fillBars 2.5s 1;
      animation: fillBars 2.5s 1;
      -webkit-box-shadow: 0px 0px 15px 5px var(--skills-clr);
      box-shadow: 0px 0px 15px 5px var(--skills-clr);
        &::before {
          content: attr(per);
          position: absolute;
          padding: 4px 6px;
          background-color: #f1f1f1;
          border-radius: 4px;
          font-size: 12px;
          top: -7px;
          right: -27px;
          -webkit-transform: translateX(50%);
          transform: translateX(50%);
          z-index: 2;
      }
        &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background: #f1f1f1;
          top: 1px;
          right: -11px;
          -webkit-transform: translateX(50%) rotate(45deg);
          transform: translateX(50%) rotate(45deg);
          border-radius: 2px;
      }
    }
    // &::before{
    //   content: attr(per);
    // position: absolute;
    // padding: 4px 6px;
    // background: #f1f1f1;
    // border-radius: 4px;
    // font-size: 12px;
    // top: -35px;
    // right: 0;
    // -webkit-transform: translateX(50%);
    // transform: translateX(50%);
    // }
    // &:after{    content: "";
    //   position: absolute;
    //   width: 10px;
    //   height: 10px;
    //   background: #f1f1f1;
    //   top: -15px;
    //   right: 0;
    //   -webkit-transform: translateX(50%) rotate(45deg);
    //   transform: translateX(50%) rotate(45deg);
    //   border-radius: 2px;
    // }
  }
  #work {
    .name {
      font-size: 1em;
    }
    .card-content .card-links {
      padding: 3px;
    }
    .swiper-wrapper {
      // height: 71vh;
      height: 600px;
    }
    .slide-content {
      padding: 0 14px 14px 0;
      margin: 3px;
      
    }
  }
  .skills-container-1{
    width: 95%!important;
    column-gap: 12px !important;
    row-gap: 12px !important;
    .skills-box{
      box-shadow: 7px 7px 13px -2px var(--skills-clr)!important;
      width: 115px !important;
      height: 150px !important;
      img{
        width: 90px!important;
        height: 100px!important;
      }
      h2{
        font-size: 1em!important;
      }
    }
  }

  
}

#skills{
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
 
.skills-container-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  width: 80%;
  column-gap: 30px;
  row-gap: 30px;
  .skills-box{
    
    background-color: #161616;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    border: var(--skills-clr) solid 2px;
    // padding: 5px;

    // backdrop-filter: blur(6px);
    
    box-shadow: 7px 7px 15px -2px var(--skills-clr);
    width:260px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
    &:hover img {
      transform: scale(1.1);
      transition: ease-in-out 0.1s;
    }
    a{
  
        z-index: 5;
        transform: translateZ(50px);
    
     
    }
    img{
      padding: 15px;
      z-index: 2;
      width: 220px;
      height: 220px;
      flex-grow: 1;
    }
    h2{
     
      transform: translateZ(50px);

      font-size: 2.0em;
      margin: 10px 0;
      color: var(--skills-clr);
      z-index: 5;
    }
  
  }
  

}
}

.skill-box-bg{
      // transform-style: preserve-3d;
      width: 100%;
      height: 100%;
      position: absolute;
  // backdrop-filter: blur(6px);
  // transform: translateZ(-100px);
  color: rgb(196, 0, 0);
// overflow: hidden;
  z-index: -1000000;
}




