@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
.op {
  opacity: 1;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.893);
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.main .section {
  scroll-snap-align: start;
  height: 100vh;
}

.main #about-me {
  background-image: url(./assets/bg-blue.jpg);
}

.main #skills {
  background-image: url(./assets/bg-orange.jpg);
}

.main #projects {
  background-image: url(./assets/bg-green.jpg);
}

.title {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.title h1 {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.photo-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.photo-box {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 115px 166px -63px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 115px 166px -63px rgba(0, 0, 0, 0.44);
}

.photo-box:before {
  content: '';
  position: absolute;
  inset: 0px 80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: linear-gradient(315deg, #317fbd, #bfd8ec);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

.photo-box:hover:before {
  inset: -20px 0px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.content {
  position: absolute;
  inset: 5px;
  border: 2px solid #070a1c;
  background-size: cover;
  z-index: 3;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.content a {
  position: relative;
  margin-top: 10px;
  padding: 5px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content a .wa {
  width: 40px;
}

.content a:hover {
  letter-spacing: 0.2em;
}

.content .personal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
  pointer-events: none;
}

.photo-box:hover .content .personal {
  opacity: 0;
}

h2 {
  position: relative;
  z-index: 2;
  font-size: 1.25em;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.25em;
  text-transform: uppercase;
}

h2 span {
  font-weight: 300;
  font-size: 0.75em;
}

.nav {
  z-index: 111;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 0px;
}

.nav ul {
  position: absolute;
  left: 3%;
  top: 25vh;
}

.nav li {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin: 80px 0;
  color: transparent;
}

.nav img {
  width: 40px;
}

.active img {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-transform: scale(2);
          transform: scale(2);
  background-color: #ffffff16;
  border: rgba(255, 255, 255, 0.215) solid 1px;
  border-radius: 10%;
  padding: 4px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.tooltip-content {
  display: none;
  position: absolute;
  bottom: 25%;
  left: 140%;
  background-color: rgba(255, 255, 255, 0.099);
  padding: 0.5em 0.1em;
  font-size: 0.8em;
  width: 150%;
  text-align: center;
  border: rgba(255, 255, 255, 0.215) solid 1px;
  border-radius: 10%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

li:hover .tooltip-content {
  display: block;
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
/*# sourceMappingURL=styles copy.css.map */